@import 'base/variables'
@import 'blocks/promo'
@import 'blocks/header'
@import 'blocks/buttons'
@import 'blocks/benefits'
@import 'blocks/titles'
@import 'blocks/forms'


	
* 
	font-family: Museo, MuseoModerno, sans-serif

.container
	width: 950px
	margin: 0 auto

a
	text-decoration: none

@import 'blocks/consultation'
@import 'blocks/carusel'
@import 'media'
